html, body, #root {
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

.page {
  display: flex;
  height: 100vh !important; /* Use height instead of min-height */
  width: 100vw!important;
  flex-direction: row;
  background: #06060f;
  overflow: hidden!important; /* Keeps the sidebar and main area contained */
}

main {
  margin-left: 76px;
  width: calc(100% - 76px);
  height: 100%;
  overflow-y: auto; /* Allows scrolling ONLY inside the main content area */
  overflow-x: hidden !important; /* Prevents horizontal scrolling */
}



/* Update your media queries as well */
@media (max-width: 980px) {
  main {
    margin-left: 64px;
    width: calc(100% - 64px);
  }
}

@media (max-width: 640px) {
  main {
    margin-left: 56px;
    width: calc(100% - 56px);
  }
}